body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.HeaderLine {
  border: 1px solid transparent;
  background-color: #32dcdc;
  width: 100vw;
}

.HeaderList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  gap: 30%;
}

.HeaderFirstRow {
  padding: 5px;
}

.HeaderList li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid transparent;
  height: 22px;
  overflow: hidden;
  transition: 0.5s all ease;
  position: relative;
  cursor: pointer;
}

.HeaderList li div {
  transition: 0.7s all ease;
}

.HeaderList li div:first-child:hover {
  transform: translateY(-25px);
  transition: 0.7s all ease;
}

.HeaderLine li::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  width: 0%;
  opacity: 0;
  transition: 0.7s ease all;
}

.HeaderLine .HeaderLi:hover::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transition: 0.7s ease all;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.LeftIcons,
.RightIcons {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
}

.CompanyName {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

@media (min-width: 968px) {
  .NavBar {
    display: none;
  }
}

input[type="Checkbox"] {
  position: absolute;
  opacity: 0;
}

.MenuLayer {
  border: 1px solid transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: 0.6s ease all;
  z-index: 999;
}

#Checkbox:checked ~ .MenuLayer {
  transform: translateX(0%);
  transition: 0.6s ease all;
}

.fa-bars {
  position: relative;
  z-index: 9999;
}

.MenuOptions {
  border: 1px solid transparent;
  transform: translateY(100px);
  list-style-type: none;
  padding: 0;
}

.FirstsubmenuUl,
.submenuUl {
  list-style-type: none;
}

.submenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.Firstsubmenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.GiftLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#GiftsInput:checked ~ .submenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.JewelryLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#JewelryInput:checked ~ .Firstsubmenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.MenuOptions {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.MenuLi {
  border: 1px solid transparent;
  padding: 5px;
  margin-top: 20px;
}

.MenuOptions .MenuLi:nth-last-child(-n + 3) div label {
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.ImageSection {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  transform: translateY(170px) translateX(-50%);
  position: absolute;
  left: 50%;
}

.ImageSection img {
  width: 350px;
  height: 60px;
}


.Hero {
  border: 1px solid transparent;
  height: 80vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: BackImage 10s ease infinite;
  background-image: url(https://wallpapercat.com/w/full/6/b/a/1263003-3000x2001-desktop-hd-tiffany-co-wallpaper.jpg);
}

@keyframes BackImage {
  0% {
    background-image: url(https://wallpapercat.com/w/full/6/b/a/1263003-3000x2001-desktop-hd-tiffany-co-wallpaper.jpg);
  }

  20% {
    background-image: url(https://media.tiffany.com/is/image/tco/2024_HOLIDAY_BG_NEW_JEWELRY2_Mobile_SFCC);
  }

  40% {
    background-image: url(https://cdn.shopify.com/s/files/1/0006/9015/9674/files/Tiffany_Akoya_Pearl_Necklace_Essential_Collection_w_Tag_and_Box.jpg?v=1626069388);
  }

  60% {
    background-image: url(https://i.pinimg.com/originals/14/a8/2a/14a82a005d603dfe928f9fc533659ee2.jpg);
  }

  80% {
    background-image: url(https://theimpression.com/wp-content/uploads/2024/11/Tiffany-Holiday-2024-Ad-Campaign-The-Impression-001.jpg);
  }
}

.UpperLayer {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(23, 23, 23, 0.473);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Tiffany {
  font-size: 50px;
  font-weight: 600;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Since h4 {
  font-size: 25px;
  font-weight: 600;
  color: white;
  transform: translateY(30px);
}

.UpperLayer button {
  background-color: white;
  position: absolute;
  bottom: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 13px;
  width: 100px;
  height: 30px;
  overflow: hidden;
}

.button span {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0px;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: #32dcdc;
  transform: translateX(-100%);
  transition: 0.6s ease all;
}

.button:hover::before {
  transform: translateX(0%);
  transition: 0.6s ease all;
}

.MainLine {
  transform: translateY(50px);
  width: 200px;
  text-align: center;
  color: white;
}

.TagLine {
  font-weight: 500;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}

.SubLine {
  font-weight: 600;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.Shop {
  border: 1px solid transparent;
  width: 50%;
  margin: auto;
  position: relative;
  font-size: 15px;
  overflow: hidden;
}

.Shop::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: 0px;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.6s ease all;
  opacity: 0;
}

.Shop:hover::before {
  transform: translateX(0%);
  transition: 0.6s ease all;
  opacity: 1;
}

.art-section {
  border: 1px solid transparent;
  position: relative;
}

.ImageArt {
  background-image: url(https://media.tiffany.com/is/image/tco/2025_QL_Bracelets_Chain);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ImageOur {
  background-image: url(https://packmojo.com/blog/images/2024/08/tiffany-and-co-packaging-boxes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CaseContent h3 {
  font-size: 22px;
}

@media (max-width: 968px) {
  .CaseContent {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .CaseContent h3 {
    font-size: 30px;
  }

  .CaseContent .Matter {
    font-size: 14px;
  }

  .ArtGifting {
    border: 1px solid transparent;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .OurGifting {
    border: 1px solid transparent;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }

  .ImageArt,
  .ImageOur {
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.411);
    height: 400px;
    width: 80%;
    border-radius: 20px;
  }
}

 @media (min-width: 968px) {
  .CaseContent {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .CaseContent h3 {
    font-size: 30px;
  }

  .CaseContent .Matter {
    font-size: 14px;
    text-align: center;
  }

  .ArtGifting {
    border: 1px solid transparent;
    height: 450px;
    width: 100%;
    background-color: transparent;
    display: flex;
  }

  .OurGifting {
    border: 1px solid transparent;
    height: 450px;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    display: flex;
  }

  .ImageArt,
  .ImageOur {
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.411);
    height: 400px;
    width: 80%;
    border-radius: 20px;
  }
} 


.Matter {
  width: 80%;
  font-size: 12px;
}

.FinalLine {
  font-size: 16px;
  font-weight: 500;
}
