body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.HeaderLine {
  border: 1px solid transparent;
  background-color: #bde0fe;
  width: 100vw;
}

.HeaderList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  gap: 30%;
}

.HeaderFirstRow {
  padding: 5px;
}

.HeaderList li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid transparent;
  height: 22px;
  overflow: hidden;
  transition: 0.5s all ease;
  position: relative;
  cursor: pointer;
}

.HeaderList li div {
  transition: 0.7s all ease;
}

.HeaderList li div:first-child:hover {
  transform: translateY(-25px);
  transition: 0.7s all ease;
}

.HeaderLine li::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  width: 0%;
  opacity: 0;
  transition: 0.7s ease all;
}

.HeaderLine .HeaderLi:hover::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transition: 0.7s ease all;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.LeftIcons,
.RightIcons {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
}

.CompanyName {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

@media (min-width: 968px) {
  .NavBar {
    display: none;
  }
}

input[type="Checkbox"] {
  position: absolute;
  opacity: 0;
}

.MenuLayer {
  border: 1px solid transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: 0.6s ease all;
}

#Checkbox:checked ~ .MenuLayer {
  transform: translateX(0%);
  transition: 0.6s ease all;
}

.fa-bars {
  position: relative;
  z-index: 9999;
}

.MenuOptions {
  border: 1px solid transparent;
  transform: translateY(100px);
  list-style-type: none;
  padding: 0;
}

.FirstsubmenuUl,
.submenuUl {
  list-style-type: none;
}

.submenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.Firstsubmenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.GiftLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#GiftsInput:checked ~ .submenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.JewelryLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#JewelryInput:checked ~ .Firstsubmenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.MenuOptions {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.MenuLi {
  border: 1px solid transparent;
  padding: 5px;
  margin-top: 20px;
}

.MenuOptions .MenuLi:nth-last-child(-n + 3) div label {
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.ImageSection {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  transform: translateY(170px) translateX(-50%);
  position: absolute;
  left: 50%;
}

.ImageSection img {
  width: 350px;
  height: 60px;
}

.Form {
  border: 1px solid transparent;
  /* background-color: red; */
}

@media (min-width: 900px) {
  .contact-us {
    border: 1px solid transparent;
    background-color: rgba(255, 241, 223, 0.788);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .contact-us {
    border: 1px solid transparent;
    background-color: rgba(255, 241, 223, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.LabelDiv {
  margin: 20px;
}

input[type="text"] {
  background-color: rgba(255, 241, 223, 0.788);
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  width: 250px;
  margin-top: 5px;
}

input[type="number"] {
  background-color: rgba(255, 241, 223, 0.788);
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  width: 250px;
  margin-top: 5px;
}

input[type="email"] {
  background-color: rgba(255, 241, 223, 0.788);
  border: 1px solid transparent;
  border-bottom: 1px solid black;
}

.Form input {
  margin-top: 5px;
}

.Email {
  margin-top: 40px;
}

.Email h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.send {
  border: 1px solid transparent;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.map {
  margin-top: 20px;
}
