body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.HeaderLine {
  border: 1px solid transparent;
  background-color: #bde0fe;
  width: 100vw;
}

.HeaderList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  gap: 30%;
}

.HeaderFirstRow {
  padding: 5px;
}

.HeaderList li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid transparent;
  height: 22px;
  overflow: hidden;
  transition: 0.5s all ease;
  position: relative;
  cursor: pointer;
}

.HeaderList li div {
  transition: 0.7s all ease;
}

.HeaderList li div:first-child:hover {
  transform: translateY(-25px);
  transition: 0.7s all ease;
}

.HeaderLine li::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  width: 0%;
  opacity: 0;
  transition: 0.7s ease all;
}

.HeaderLine .HeaderLi:hover::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transition: 0.7s ease all;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.LeftIcons,
.RightIcons {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
}

.CompanyName {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

@media (min-width: 968px) {
  .NavBar {
    display: none;
  }
}

input[type="Checkbox"] {
  position: absolute;
  opacity: 0;
}

.MenuLayer {
  border: 1px solid transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: 0.6s ease all;
  z-index: 99;
}

#Checkbox:checked ~ .MenuLayer {
  transform: translateX(0%);
  transition: 0.6s ease all;
}

.fa-bars {
  position: relative;
  z-index: 9999;
}

.MenuOptions {
  border: 1px solid transparent;
  transform: translateY(100px);
  list-style-type: none;
  padding: 0;
}

.FirstsubmenuUl,
.submenuUl {
  list-style-type: none;
}

.submenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.Firstsubmenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.GiftLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#GiftsInput:checked ~ .submenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.JewelryLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#JewelryInput:checked ~ .Firstsubmenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.MenuOptions {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.MenuLi {
  border: 1px solid transparent;
  padding: 5px;
  margin-top: 20px;
}

.MenuOptions .MenuLi:nth-last-child(-n + 3) div label {
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.ImageSection {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  transform: translateY(170px) translateX(-50%);
  position: absolute;
  left: 50%;
}

.ImageSection img {
  width: 350px;
  height: 60px;
}

.ShopZone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.FirstFlipCard,
.SecondFlipCard,
.ThirdFlipCard,
.FourthFlipCard {
  width: 400px;
  height: 400px;
  border: 1px solid transparent;
  perspective: 1000px;
  margin-top: 20px;
}

@media (min-width: 968px) {
  .FirstFlipCard,
  .SecondFlipCard,
  .ThirdFlipCard,
  .FourthFlipCard {
    width: 550px;
    height: 400px;
    border: 1px solid transparent;
    perspective: 1000px;
  }
}

.innerCard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s ease all;
  border: 1px solid transparent;
}

.FlipCard:hover .innerCard {
  transform: rotateY(180deg);
  transition: 0.7s ease all;
}

.FrontFace,
.BackFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.FrontFace {
  background-color: transparent;
}

.BackFace {
  background-color: rgb(230, 230, 230);
  transform: rotateY(180deg);
}

.FirstF,
.SecondF,
.ThirdF,
.FourthF {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FirstF {
  background-image: url(https://media.tiffany.com/is/image/tco/2025_ROWMOTHERSDAY_HP_SBC_Necklaces_SFCC);
}

.SecondF {
  background-image: url(https://media.tiffany.com/is/image/tco/2025_LE_QL_ER_Mobile);
}

.ThirdF {
  background-image: url(https://media.tiffany.com/is/image/tiffanydm/2025_ROWMOTHERSDAY_BG_2X2_PROD_45?$tile$&wid=1488&hei=1488);
}

.FourthF {
  background-image: url(https://cdn.pixelbin.io/v2/black-bread-289bfa/original/Tiffany/Bracelets.jpg);
}

.ProductName {
  padding: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.BackFace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.BackFace h3 {
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}

.BackFace h3::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  width: 0%;
  opacity: 0;
  transition: 0.7s ease all;
}

.BackFace h3:hover::before {
  border: 1px solid black;
  width: 100%;
  opacity: 1;
  transition: 0.7s ease all;
}

.BackFace div {
  width: 80%;
  transform: translateY(20px);
}

.SecondHead {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.FlipCard:hover .ProductName {
  opacity: 0;
  transition: 0.7s ease all;
}

.BackFace button {
  position: absolute;
  bottom: 15px;
  border-radius: 10px;
  font-size: 12px;
  background-color: black;
  border: 1px solid transparent;
  color: white;
  font-weight: 600;
  width: 100px;
  height: 30px;
}

.BackFace img {
  position: absolute;
  top: 0;
  transform: translateY(-20%);
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.6s ease all;
}

.FlipCard:hover .BackFace img {
  transform: translateY(20%);
  opacity: 1;
  transition: 0.6s ease all;
}
