body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.HeaderLine {
  border: 1px solid transparent;
  background-color: #bde0fe;
  width: 100vw;
}

.HeaderList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  gap: 30%;
}

.HeaderFirstRow {
  padding: 5px;
}

.HeaderList li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid transparent;
  height: 22px;
  overflow: hidden;
  transition: 0.5s all ease;
  position: relative;
  cursor: pointer;
}

.HeaderList li div {
  transition: 0.7s all ease;
}

.HeaderList li div:first-child:hover {
  transform: translateY(-25px);
  transition: 0.7s all ease;
}

.HeaderLine li::before {
  content: "";
  position: absolute;
  border: 1px solid transparent;
  bottom: 0;
  width: 0%;
  opacity: 0;
  transition: 0.7s ease all;
}

.HeaderLine .HeaderLi:hover::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: 0;
  width: 100%;
  opacity: 1;
  transition: 0.7s ease all;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.LeftIcons,
.RightIcons {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
}

.CompanyName {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

@media (min-width: 968px) {
  .NavBar {
    display: none;
  }
}

input[type="Checkbox"] {
  position: absolute;
  opacity: 0;
}

.MenuLayer {
  border: 1px solid transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-100%);
  transition: 0.6s ease all;
  z-index: 999;
}

#Checkbox:checked ~ .MenuLayer {
  transform: translateX(0%);
  transition: 0.6s ease all;
}

.fa-bars {
  position: relative;
  z-index: 9999;
}

.MenuOptions {
  border: 1px solid transparent;
  transform: translateY(100px);
  list-style-type: none;
  padding: 0;
}

.FirstsubmenuUl,
.submenuUl {
  list-style-type: none;
}

.submenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.Firstsubmenu {
  margin-top: 10px;
  height: 0;
  opacity: 0;
  transition: 0.6s ease all;
}

.GiftLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#GiftsInput:checked ~ .submenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.JewelryLi {
  border: 1px solid transparent;
  overflow: hidden;
  padding: 5px;
}

#JewelryInput:checked ~ .Firstsubmenu {
  height: 120px;
  opacity: 1;
  transition: 0.6s ease all;
}

.MenuOptions {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.MenuLi {
  border: 1px solid transparent;
  padding: 5px;
  margin-top: 20px;
}

.MenuOptions .MenuLi:nth-last-child(-n + 3) div label {
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.ImageSection {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  transform: translateY(170px) translateX(-50%);
  position: absolute;
  left: 50%;
}

.ImageSection img {
  width: 350px;
  height: 60px;
}



.Gift-section {
  border: 1px solid green;
}

.Head {
  border: 1px solid transparent;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Item1,
.Item2,
.Item3,
.Item4,
.Item5,
.Item6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.Item1 {
  background-image: url(https://press.tiffany.com/wp-content/uploads/70353040_NL_H23_v1_TM_092023_RGB_ALT_4x5-730x600.jpg);
}

.Item2 {
  background-image: url(https://www.wallpapergap.com/cdn/24/260/tiffany-and-co-wallpaper-jewelry-heart-1024x768.jpg);
}

.Item3 {
  background-image: url(https://media.tiffany.com/is/image/tco/2025_ENGAGEMENTRING_LP_7x5_06_SFCC);
}

.Item4 {
  background-image: url(https://media.tiffany.com/is/image/tco/2025_VDAY_BG_ENGAGEMENTRINGS_Mobile_SFCC);
}

.Item5 {
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.KxJxzs55THcUiH3Hi78BAAHaFj?rs=1&pid=ImgDetMain&o=7&rm=3);
}

.Item6 {
  background-image: url(https://media.tiffany.com/is/image/tco/BridalEarring-BG-Hero-Mobile);
}

@media (max-width: 768px) {
  .Item {
    border: 2px solid rgba(128, 128, 128, 0.594);
    height: 350px;
    width: 80%;
    margin-top: 40px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.208);
  }

  .Gift-Items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .Item {
    border: 2px solid rgba(128, 128, 128, 0.594);
    height: 350px;
    width: 350px;
    margin-top: 40px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.208);
  }

  .Gift-Items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }
}

.BottomHeading {
  border: 1px solid transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(232, 232, 232, 0.774);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.6s ease all;
}

.BottomHeading:hover {
  font-size: 20px;
  height: 60px;
  transition: 0.6s ease all;
}

.BoxSlide {
  border: 1px solid transparent;
  height: 100%;
  background-color: white;
  transform: translateY(-100%);
  transition: 0.6s ease all;
  position: relative;
  display: flex;
  justify-content: center;
}

.Item:hover .BoxSlide {
  transform: translateY(0%);
  transition: 0.6s ease all;
}

.SliderMatter img {
  width: 50%;
  height: 150px;
  border-radius: 10px;
  position: absolute;
  top: 20px;
}

.SliderMatter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
}

.SlideContent {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  transform: translateY(70px);
}
